* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../images/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* html {
  font-family: 'Poppins', Lato, Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
} */