@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* #nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
} */

.navbar-item {
    font-family: 'Righteous', cursive;

}