.footer {
    padding: 3rem 0;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
     padding-left: 20px;
     padding-right: 20px;
     position: absolute;
     bottom: 0;
     width: 100%;
 }

.icon-link {
    margin: 20px 10px;
  }